@use"../../foundation/variable"as *;

.c-button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 55px;
    width: auto;
    min-width: 345px;
    height: auto;
    min-height: 90px;
    border: solid black 1px;
    border-radius: 20px;
    background-color: #f2edec ;
    background: linear-gradient( #ded8d3 100%);
    font-weight: bold;
    
    @include respond-to(small) {
        min-width: 90%;
      }


    & a{
        color: $grid-card;
    }
}