@use "../../foundation/variable" as *; 
.c-footer{
    display: flex;
    background-image: url(../../images/\ footer-blown.png);
    width: 100vw;
    height: 120px;
    justify-content: center;
    // align-items: center
    z-index: 4000;
    @include respond-to(medium) {
        width: 100%;
    }
    
}

.c-footer__text{
    display: block;
    color: #fff;
    margin: 2%;
    @include respond-to(medium) {
        margin: 3%;
    }
    @include respond-to(small) {
        margin: 8%;
    }
    
    & small{
        display: flex;
        justify-content: center;
        margin: 15%;
    }
    & a{
        color: #fff;
        text-decoration: none;
    }
}