@use "../../foundation/variable" as v;
.c-searchform{
    display: flex;
    height: 21%;
    /* margin: 4% 1% 0 auto; */
    width: 33%;
    position: absolute;
    right: 3%;
    font-size: 0.7em;
    @include v.respond-to(medium) {
    width: 66%;
    height: 23%;
    right: 50%;
    margin-bottom: 30px;
    transform: translateX(50%);
    }
    @include v.respond-to(small) {
        width: 80%;
    }
    
}

.c-searchform__box{
    width: 270px;
    margin-right: 4%;
    padding-left: 10%;
    border: solid black 1px;
    border-radius: 6px;
    background-color: v.$white;
    @include v.respond-to(medium) {
    height: 90%;
    width: 70%;
}
}
.c-searchform::after{
background-image: url(../../../images/serch-icon.svg);
background-size: contain;
width: 25px;
height: 25px;
top: 10%;
left: 1%;
position: absolute;
z-index: 5000;
content: "";
opacity: 0.8;
@include v.respond-to(medium) {
    width: 40px;
    height: 40px;
    }
}

.c-searchform__button{
    width: 30%;
    border: solid black 1px;
    border-radius: 6px;
    background-color: #f2edec ;
    background: linear-gradient( #ded8d3 100%);
    @include v.respond-to(medium) {
        height: 90%;
        width: 25%;
        font-size: 18px;
        padding-top: 4px;
    }
    @include v.respond-to(medium) {
        width: 30%;
    }    
}