@use "../../foundation/variable" as v;

.c-serch-form{
    display: flex;
    height: 21%;
    /* margin: 4% 1% 0 auto; */
    width: 33%;
    position: absolute;
    right: 3%;
    font-size: 0.7em;
}

.c-serch_box{
    width: 80%;
    margin-right: 4%;
    padding-left: 10%;
    border: solid black 1px;
    border-radius: 6px;
    background-color: v.$white;
    
}
.c-serch-form::after{
background-image: url(../../../images/serch-icon.svg);
background-size: contain;
width: 10%;
height: 80%;
top: 10%;
left: 1%;
position: absolute;
z-index: 5000;
content: "";
opacity: 0.8;
}

.c-serch_button{
    width: 30%;
    border: solid black 1px;
    border-radius: 6px;
    background-color: #f2edec ;
    background: linear-gradient( #ded8d3 100%);

}