.c-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 55px;
  margin-bottom: 55px;
  width: auto;
  min-width: 345px;
  height: auto;
  min-height: 90px;
  border: solid black 1px;
  border-radius: 20px;
  background-color: #f2edec;
  background: linear-gradient(#ded8d3 100%);
  font-weight: bold;
}
@media (max-width: 375px) {
  .c-button {
    margin-left: 4%;
    margin-right: 4%;
  }
}
.c-button a {
  color: #3C2B1C;
}

.c-footer {
  display: flex;
  background-image: url(../../images/\ footer-blown.png);
  width: 100vw;
  height: 120px;
  justify-content: center;
  z-index: 4000;
}

.c-footer__text {
  display: block;
  color: #fff;
  margin: 2%;
}
@media (max-width: 834px) {
  .c-footer__text {
    margin: 3%;
  }
}
@media (max-width: 375px) {
  .c-footer__text {
    margin: 8%;
  }
}
.c-footer__text small {
  display: flex;
  justify-content: center;
  margin: 15%;
}
.c-footer__text a {
  color: #fff;
  text-decoration: none;
}

.c-header {
  display: flex;
  position: relative;
  align-items: center;
  height: 150px;
  background-color: #FFF7EF;
}
@media (max-width: 834px) {
  .c-header {
    width: 100%;
    height: 217px;
    flex-direction: column-reverse;
  }
}

.c-header__nav {
  height: 100%;
}

.c-header__title {
  display: flex;
  height: 100%;
  font-size: 3em;
  font-weight: 900;
  color: #707070;
  align-items: center;
  padding: 0% 15%;
}
@media (max-width: 834px) {
  .c-header__title {
    padding: 0 0 35%;
    font-size: xx-large;
  }
}

.c-header__mobilemenuIcon {
  display: none;
}
@media (max-width: 834px) {
  .c-header__mobilemenuIcon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 30px;
    margin-right: 20px;
    font-size: xx-large;
    color: #707070;
    font-weight: bold;
    cursor: pointer;
  }
}
@media (max-width: 375px) {
  .c-header__mobilemenuIcon {
    font-size: larger;
    margin-top: 10px;
    margin-right: 10px;
  }
}

.c-searchform {
  display: flex;
  height: 21%;
  /* margin: 4% 1% 0 auto; */
  width: 33%;
  position: absolute;
  right: 3%;
  font-size: 0.7em;
}
@media (max-width: 834px) {
  .c-searchform {
    width: 66%;
    height: 23%;
    right: 50%;
    margin-bottom: 30px;
    transform: translateX(50%);
  }
}
@media (max-width: 375px) {
  .c-searchform {
    width: 80%;
  }
}

.c-searchform__box {
  width: 270px;
  margin-right: 4%;
  padding-left: 10%;
  border: solid black 1px;
  border-radius: 6px;
  background-color: #ffffff;
}
@media (max-width: 834px) {
  .c-searchform__box {
    height: 90%;
    width: 70%;
  }
}

.c-searchform::after {
  background-image: url(../../../images/serch-icon.svg);
  background-size: contain;
  width: 25px;
  height: 25px;
  top: 10%;
  left: 1%;
  position: absolute;
  z-index: 5000;
  content: "";
  opacity: 0.8;
}
@media (max-width: 834px) {
  .c-searchform::after {
    width: 40px;
    height: 40px;
  }
}

.c-searchform__button {
  width: 30%;
  border: solid black 1px;
  border-radius: 6px;
  background-color: #f2edec;
  background: linear-gradient(#ded8d3 100%);
}
@media (max-width: 834px) {
  .c-searchform__button {
    height: 90%;
    width: 25%;
    font-size: 18px;
    padding-top: 4px;
  }
}
@media (max-width: 834px) {
  .c-searchform__button {
    width: 30%;
  }
}

.c-title {
  display: flex;
  color: #ffffff;
  font-size: 2.5em;
  margin-left: 2%;
  margin-top: 5%;
  line-height: 1;
}

.c-title ::after {
  border: solid 1px;
  color: #ffffff;
  width: 2%;
  height: 1px;
}

.c-strong {
  display: block;
  margin-left: 55px;
  margin-bottom: 200px;
}

.c-horizonline {
  position: relative;
  top: 0.5%;
}

.c-horizonline::after {
  position: absolute;
  display: flex;
  width: 40px;
  height: 1px;
  border: solid white;
  content: "";
  left: 20px;
  top: 30px;
}

.c-horizonline__large {
  position: relative;
}

.c-horizonline__large::after {
  position: absolute;
  display: flex;
  width: 40px;
  height: 1px;
  border: solid white;
  content: "";
  left: 70px;
}
@media (max-width: 834px) {
  .c-horizonline__large::after {
    width: 80px;
    bottom: 15px;
  }
}
@media (max-width: 375px) {
  .c-horizonline__large::after {
    bottom: 10px;
    left: 30px;
  }
}/*# sourceMappingURL=index.css.map */