@use "../../foundation/variable" as *;

.p-content--wrapper{
    display: flex;
    top: 398px;
    justify-content: space-between;
    

}

.p-content--TakeOut{
    background-image: url(../../../images/three-burgers-on-brown-wooden-tray-between-white-ceramic-1841108.png);
    background-size: contain;
    width: 40%;
    height: 100%;
    margin-top: 40%;
    margin-left: 6%;
}

.p-content__item--wrapper{
    width: 265%;
    height: auto;
    margin-top: 125%;
}

.p-content__item{
    width: 35%;
    height: 15%;
    background-color: $white;
    opacity: 0.5;
    margin-left: 1.3%;
    margin-top: 1%;
    padding-bottom: 1%;
    
        & p{
            font-size: 0.8em;
            margin: 0 0 0 3%;
            padding-right: 1%;

    }
        & h3{
            margin-top: 2%;
            padding: 3% 0% 0% 4%;
        }
}

.p-content--EatIn{
    background-image: url(../../../images/burgers-and\ potates.png);
    background-size: cover;
    width: 40%;
    height: 67%;
    margin-top: 40%;
    margin-right: 6%;
}