@use "../../foundation/variable" as *;

.p-card{
    display: flex;
    position: relative;
    width: 88%;
    height: auto;
    min-height: 350px;
    margin: 3% 6%;
@media screen and (max-width: 375px) {
        flex-direction: column;
        margin-right: 5%;
}
}

.p-card__image{
    background-image: url(../../../images/repeat-grid.png);
    background-size: cover;
    width: auto;
    height: auto;
    left: 0;
    min-height: 350px;
    min-width: 50%;
    display: flex;
@media screen and (max-width: 375px) {
    min-height: 285px;
}
    .p-card__image {
        min-height: 250px;
        min-width: 100%;
    }
}

.p-card__brown{
    background-color: #3C2B1C;
    display: flex;
    color: white;
    /* justify-content: center; */
    min-height: 100%;
    width: 50%;
    right: 0;

    @media screen and (max-width: 375px) {
        width: 100%;
        min-height: 350px;
    }

    & h2{
        margin: 35px;
        @media (max-width: 834px) {
        font-size: 1.2rem;
        margin-bottom: 25px;
        }
    }

    & h3{
        margin: 0 0 10px 35px;
        @media (max-width: 834px) {
            margin-top: 20px;
            font-size: 1rem;
        }
    }

    & p{
        margin: 35px;
        margin-top: 0;
        font-size: 0.9rem;
    @media (max-width: 834px) {
        margin: 35px;
        margin-top: 0;
        font-size: 1rem;
        margin-bottom: 20px;
        line-height: 1.5em;
    }

    }
}

.p-card__brown__text{
    display: block;

}

.p-card__button{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    height: 65px;
    width: auto;
    max-width: 270px;
    background-color: $white;
    color: $text-glay;
    border-radius: 40px;
    margin: 0 auto;
    margin-bottom: 30px;
    @media (max-width: 834px) {
        height: 45px;
        max-width: 160px;
        font-weight: 900;
    }
    
    & a{
        text-decoration: none;
        list-style: none;
        color: $text-glay;
    

    }

}
