@use "../../foundation/variable" as *;

.p-content--wrapper{
    display: flex;
    position: relative;
    justify-content: space-between;
    @media screen and (max-width:375px){
        flex-direction: column;
    }

}

.p-content--TakeOut{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // ここまで訂正部分
    background-image: url(../../../images/three-burgers-on-brown-wooden-tray-between-white-ceramic-1841108.png);
    background-size: cover;
    background-position: center;
    // ここからテスト
    // display: grid;
    // grid-template-columns: 1fr;
    // grid-template-rows: 1fr 1fr;
    // gap: 10px;
    // ここまでテスト
    width: 40.5%;
    height: auto;
    min-height: 890px;
    margin-top: 6%;
    margin-left: 6%;
    @media screen and (max-width: 834px) {
        min-height: unset;
       height: 681px;
    }    
    @media screen and (max-width:375px){
        width: 90%;
        margin-left: 20px;
    }
}

.p-content__item--wrapper{
    width: auto;
    height: auto;
    // margin-top: 527px;
}

.p-content__item{
    width: auto;
    height: auto;
    min-height: 145px;
    margin: 15px;
    background-color: $white;
    opacity: 0.7;
@media screen and (max-width: 1000px) {
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

    
        & p{
            font-size: 0.8em;
            margin: 0 0 0 3%;
            padding-right: 1%;
            padding-bottom: 10px;

        }
        & h3{
            margin-top: 2%;
            padding: 3% 0% 0% 4%;
            margin-bottom: 10px;
        }
}

.p-content--EatIn{
    // 訂正部分１２／９
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    // ここまで訂正部分
    background-image: url(../../../images/burgers-and\ potates.png);
    background-size: cover;
    background-position: center;
    width: 40.5%;
    height: auto;
    min-height: 890px;
    margin-top: 6%;
    margin-right: 6%;
    @media screen and (max-width: 834px) {
        min-height: unset;
        height: 681px;
    }    
    @media screen and (max-width:375px){
        width: 90%;
        margin-left: 20px;
    }
}