@use "../../foundation/variable" as *;

.p-content--wrapper{
    display: flex;
    position: relative;
    justify-content: space-between;
    

}

.p-content--TakeOut{
    background-image: url(../../../images/three-burgers-on-brown-wooden-tray-between-white-ceramic-1841108.png);
    background-size: cover;
    width: 40.5%;
    height: 894px;
    margin-top: 6%;
    margin-left: 6%;
}

.p-content__item--wrapper{
    width: auto;
    height: auto;
    margin-top: 495px;
}

.p-content__item{
    width: 95%;
    // height: 15%;
    background-color: $white;
    opacity: 0.5;
    margin-left: 12px;
    margin-top: 2%;
    padding-bottom: 2%;
    
        & p{
            font-size: 0.8em;
            margin: 0 0 0 3%;
            padding-right: 1%;

    }
        & h3{
            margin-top: 2%;
            padding: 3% 0% 0% 4%;
            margin-bottom: 10px;
        }
}

.p-content--EatIn{
    background-image: url(../../../images/burgers-and\ potates.png);
    background-size: cover;
    width: 40.5%;
    height: 894px;
    margin-top: 6%;
    margin-right: 6%;
}