.p-headline--Wrapper{
display: block;
    & h2{
        margin: 5%;
    }

    & p{
        margin: 5%;
    }

    & h3{
        margin: 5%;
    }

    & h4{
        margin: 5%;
    }
    
    & h5{
        margin: 5%;
    }

    & h6{
        margin: 5%;
    }
}
