@use "../../foundation/variable" as *;

.p-map{
    background-image: url(../../../images/map.png);
    background-position: center;
    background-size: cover;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 650px;
    position: relative;
    margin-top: 6%;
@media screen and (max-width: 834px) {
    min-height: unset;
    
}
@media screen and (max-width:375px){
        height: auto;
    }

}
.p-map__shadow{
    display: flex;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: auto;
    // min-height: 650px;
    top: 0;
    left: 0;
    z-index: 1000;
    @media screen and (max-width: 834px) {
        min-height: unset;
        // max-height: 450px;
    }
    @media screen and (max-width:375px){
        height: 100%;
        display: grid;
        grid-template-rows: 50% auto;
    }
}

.p-map__shadow--dark{
    background-position: center;
    /* position: absolute; */
    background: rgba(0, 0, 0, 0.5);
    width: 60%;
    height: auto;
    top: 0;
    left: 0;
    z-index: 1000;
    @media screen and (max-width: 834px) {
        min-height: unset;
        // max-height: 450px;
        width: 100%;
        background: rgba(0, 0, 0, 0.4);
    }
    @media screen and (max-width:375px){
        height: 100%;
        padding-left: 30px;
    }

    & h2{
        color: $white;
        margin: 10%;
        margin-bottom: 5%;
    }

    & p{
        color: $white;
        font-size: 1rem;
        width: 70%;
        margin: 10%;
        line-height: 2em;
        word-wrap: break-word;
        @media screen and (max-width: 834px) {
            width: auto;
            margin: 5%;
            line-height: 2.5em;
            // display: -webkit-box;
            // -webkit-box-orient: vertical;
            // overflow: hidden;
            // text-overflow: ellipsis;
            // -webkit-line-clamp: 7; 
        }
        @media screen and (max-width:375px){
            overflow: unset;
            font-size: small;
            line-height: 2.2em;
            width: 80%;
            
        }
    }
}