.p-other--Wrapper{
    display: flex;
    position: relative;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 398px;
    margin-left: 55px;
    margin-right: 55px;
    margin-bottom: 55px;
    @media screen and (max-width: 834px) {
        margin-right: 35px;
        margin-left: 35px;
    }
    @media screen and (max-width: 375px) {
        margin-left: 5%;
    }
}

.p-other{
    background-image: url(../../../images/other.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: auto;
    min-width: auto;
    min-height: 260px;
@media screen and (max-width: 834px) {
    min-height: 189px;
    height: 189px;
    margin: 0 20px 0 20px;
}
@media screen and (max-width: 375px) {
    max-width: 144px;
    max-height: 89px;
    min-height: unset;
    min-width: 144px;
    margin: 0;
}




}

.p-other__Text{
    width: 60%;
    height: auto;
    min-width: 54%;
    margin-left: 40px;
    @media screen and (max-width: 834px) {
        margin-left: 20px;
        height: 100%;
        overflow-y: auto;
        height: 15em;
        -webkit-line-clamp: 15;
        line-height: 1.5em;
        height: calc(1.5em * 15);
    }
    @media screen and (max-width: 375px) {
    height: 9em;
    -webkit-line-clamp: 6;
    line-height: 1.5em;
    height: calc(1.5em * 6);
    }
    & p{
        font-size: 0.8em;
    @media screen and (max-width: 834px) {
        font-size: 1em;
        padding-right: 20px;
    }
    }
}

.p-other__Text--Reverse{
    width: 60%;
    height: auto;
    min-width: 54%;
    margin-right: 40px;
    
    @media screen and (max-width: 834px) {
        margin-right: 20px;
        height: 100%;
        overflow-y: auto;
        height: 15em;
        -webkit-line-clamp: 15;
        line-height: 1.5em;
        height: calc(1.5em * 15);
    }
    @media screen and (max-width: 375px) {
        height: 9em;
        -webkit-line-clamp: 6;
        line-height: 1.5em;
        height: calc(1.5em * 6);
        }
    & p{
        font-size: 0.8em;
        @media screen and (max-width: 834px) {
            font-size: 1em;
            padding-left: 20px;
        }
    }
}

.p-other--Img--Wrapper{
    position: relative;
    width: 100%;
    height: auto;
    justify-content: center;
}

.p-other--Img{
    background-image: url(../../../images/other.png);
    background-size: cover;
    background-position: center;
    width: auto;
    height: auto;
    max-width: 425px;
    min-height: 260px;
    margin: auto;
    margin-bottom: 55px;
    @media screen and (max-width: 834px) {
       max-width: 581px;
       max-height: 358px;
    }
    @media screen and (max-width: 375px) {
    max-width: 267px;
    min-height: 166px;
    }
}

.p-other-Grid--Wrapper{
    display: block;
    margin-right: 100px;
    margin-left: 100px;
    @media screen and (max-width: 1200px) {
        margin-right: 40px;
        margin-left: 40px;
}
@media screen and (max-width: 375px) {
    margin-right: 5%;
    margin-left: 5%;
}

.p-other-Grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    @media screen and (max-width: 1200px) {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
@media screen and (max-width: 375px) {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(9, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}
}

.p-other-Grid--Img{
    background-image: url(../../../images/other.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: auto;
    min-width: auto;
    min-height: 257px;
    margin-top: 0;
    @media screen and (max-width: 834px) {
        max-width: 350px;
        min-height: 208px;

    }
}
}