
.l-footer{
    display: flex;
    background-image: url(../../images/\ footer-blown.png);
    width: 100vw;
    height: 120px;
    justify-content: center;
    // align-items: center
    z-index: 4000;
    
}

.l-footer__text{
    display: block;
    color: #fff;
    margin: 2%;
    
    & small{
        display: flex;
        justify-content: center;
        margin: 11%;
    }
    & a{
        color: #fff;
        text-decoration: none;
    }
}