@use "../foundation/variable" as *;

.l-body{
    position: relative;
}

.l-grid{
    display: grid;
    grid-template-columns: 81% 19%;
    
}

.l-main{
    background-color: $backglound-color;
    position: relative;
    height: auto;
}

.l-main-visual{
    background-image: url(../../images/dummy-site.jpg);
    background-size: contain;
    width: 100%;
    height: 398px;
    position: relative;
    display: flex;
    align-items: center;
}

.l-main-visual_text{
    display: flex;
    color: $white;
    font-weight: 700;
    font-size: 2em;
    margin-left: 4%;
    align-items: center;
}

.l-main__wrapper{
    grid-column: 1;
}

.l-archive__mv{
    position: relative;
    background-image: url(../../images/archive_mv.png);
    background-size: cover;
    width: 100%;
    display: flex;
    align-items: center;
    height: 180px;
    color: $white;
    
    & h2{
        margin: 5%;
        margin-right: 1%;
        font-size: 3em;
        z-index: 1000;
    }
    & small{
        font-size: 50%;
        font-weight: bold;
        padding-top: 1%;
        z-index: 1000;
    }
}
.l-archive__mv__shadow{
    background-color: $black;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    position: absolute;
}