@use "../foundation/variable" as *;

.l-body{
    position: relative;
}

.l-grid{
    display: grid;
    grid-template-columns: 81% 19%;
    
}

.l-main{
    background-color: $backglound-color;
    position: relative;
    height: auto;
}

.l-main-visual{
    background-image: url(../../images/dummy-site.jpg);
    background-size: contain;
    width: 100%;
    height: 398px;
    position: relative;
    display: flex;
    align-items: center;
}

.l-main-visual_text{
    display: flex;
    color: $white;
    font-weight: 700;
    font-size: 1.6em;
    margin-left: 4%;
    align-items: center;
}

.l-main__wrapper{
    grid-column: 1;
}
