@use "../foundation/variable" as *;

.l-side-menu{
    grid-column: 2/3;
    display: block;
    height: 100%;
    width: 100%;
    background-color: $submenu-color;
    color: $text-glay;
    @media screen and(min-width:960) {
        display: none;
    }
}

.l-menu_title{
    margin: 16%;
}
.l-menu{
    list-style: none;
    text-decoration: none;

    & li{
        list-style: none;
    }
}

.l-menu_subtitle{
    margin: 16%;
}

.l-menu_list{
    margin-left: 20%;
    line-height: 2.5em;
}
